.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: var(--color-grey-dark2);
  text-decoration: none;
  border: 2px solid var(--color-grey-dark2);
  padding: 1.2rem 3rem;
  border-radius: 50px;
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
  min-width: 10ch;

  &.-animation {
    min-width: 25ch;
  }
}

.btn:hover,
.btn:active,
.btn:focus {
  color: var(--color-grey-light);
  background: var(--color-grey-dark2);
}

.btn-dark {
  color: var(--color-grey-light);
  background: var(--color-grey-dark2);
  border: 2px solid var(--color-grey-light);
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
  color: var(--color-grey-dark2);
  background: var(--color-grey-light);
}

.btn:disabled {
  pointer-events: none;
}
