---
import { getCollection } from "astro:content";

import ProductItem from "@/components/product/product-item.astro";
import Section from "../ui/section.astro";

const products = await getCollection("products");
---

<Section mode="light" sectionId="products" title="Produktai">
  {
    products.map(({ data }) => {
      return <ProductItem product={data} />;
    })
  }
</Section>
