---
import type { CollectionEntry } from "astro:content";

import ProductItem from "@/components/product/product-item.astro";
import { getCollection } from "astro:content";

import Section from "../ui/section.astro";

const products: CollectionEntry<"products">[] = await getCollection("products");
---

<Section appearanceMode="light" sectionId="products" title="Mūsų produktai">
  {
    products.length === 0 ? (
      <p>Produktų nėra</p>
    ) : (
      products.map(({ data }) => {
        return <ProductItem product={data} />;
      })
    )
  }
</Section>
