---
import type { Product } from "@/schemas/contentful-transformed.types";

import { RelatedProductsCarousel } from "@/components/react/related-products";
import ContentBlock from "@/components/ui/content-block.astro";

import ProductInfo from "./product-info.astro";
import ProductMedia from "./product-media.astro";

type Props = {
  product: Product;
};

const { product }: Props = Astro.props;

const { relatedProducts } = product;
---

<ContentBlock as="article">
  <div class="product-page-container">
    <ProductMedia product={product} />
    <ProductInfo product={product} />
    {
      relatedProducts && relatedProducts.length > 0 && (
        <RelatedProductsCarousel client:visible products={relatedProducts} />
      )
    }
  </div>
</ContentBlock>

<style>
  .product-page-container {
    margin-block: var(--default-spacing);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    align-items: start;
    grid-gap: 5rem;
    grid-template-areas:
      "media title"
      "media price"
      "media desc"
      "media specs"
      "related related";
  }

  /* MEDIA QUERIES */

  /* 800px */
  @media only screen and (max-width: 50em) {
    .product-page-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "title"
        "media"
        "price"
        "desc"
        "specs"
        "related";
    }
  }
</style>
