---
import ProductItem from "@/components/product/product-item.astro";
import ContentBlock from "@/components/ui/content-block.astro";
import type { Product } from "@/schemas/contentful-transformed.types";

type Props = {
  products: Product[];
};

const { products } = Astro.props;
---

<ContentBlock appearanceMode="light" id="products" title="Mūsų produktai">
  {
    products.length === 0 ? (
      <p>Produktų nėra</p>
    ) : (
      products.map((product) => {
        return <ProductItem product={product} />;
      })
    )
  }
</ContentBlock>
