---
import type { Product } from "@/schemas/contentful-transformed.types";

import { RelatedProductCarousel } from "../react/related-product/related-product-carousel";
import ContentBlock from "../ui/content-block.astro";
import LinkButton from "../ui/link-button.astro";
import ProductInfo from "./product-info.astro";
import ProductMedia from "./product-media.astro";

type Props = {
  product: Product;
};

const { product }: Props = Astro.props;

const { relatedProducts } = product;
---

<ContentBlock as="article">
  <div class="product-page-container">
    <ProductMedia product={product} />
    <ProductInfo product={product} />
    {
      relatedProducts && relatedProducts.length > 0 && (
        <RelatedProductCarousel client:visible products={relatedProducts} />
      )
    }
    <div class="product__back">
      <LinkButton href="/">Atgal</LinkButton>
    </div>
  </div>
</ContentBlock>

<style>
  .product-page-container {
    margin-block: var(--default-spacing);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    align-items: start;
    grid-gap: 5rem;
    grid-template-areas:
      "media title"
      "media price"
      "media desc"
      "media specs"
      "related related"
      "back back";
  }

  .product__back {
    grid-area: back;
    display: flex;
    justify-content: center;
  }

  /* MEDIA QUERIES */

  /* 800px */
  @media only screen and (max-width: 50em) {
    .product-page-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "title"
        "price"
        "desc"
        "media"
        "specs"
        "related"
        "back";
    }
  }
</style>
