---
import type { CollectionEntry } from "astro:content";

import ProductItem from "@/components/product/product-item.astro";
import { getCollection } from "astro:content";

import ContentBlock from "../ui/content-block.astro";

const products: CollectionEntry<"products">[] = await getCollection("products");

function sortByOrder(
  a: CollectionEntry<"products">["data"],
  b: CollectionEntry<"products">["data"]
) {
  return a.order - b.order;
}

const sortedProducts = products.map((p) => p.data).sort(sortByOrder);
---

<ContentBlock appearanceMode="light" id="products" title="Mūsų produktai">
  {
    products.length === 0 ? (
      <p>Produktų nėra</p>
    ) : (
      sortedProducts.map((product) => {
        return <ProductItem product={product} />;
      })
    )
  }
</ContentBlock>
