---
import Layout from "@/layouts/Layout.astro";
import ProductList from "@/components/product-list.astro";
import About from "@/components/about.astro";
---

<Layout title="UAB Brameda">
  <main id="main">
    <ProductList />
    <About />
  </main>
</Layout>
