---
import Article from "./ui/article.astro";
---

<Article appearanceMode="dark" articleId="about" title="Apie mus">
  <p class="about-paragraph">
    1991 m. kovo mėn. 27 d. įkurta individuali A.Brazdžiaus įmonė. Įmonės
    pagrindinė veikla &ndash; didmeninė prekyba medicininės paskirties
    priemonėmis. Nuo 2008 m. rugsėjo mėn. 23 d. perregistruota į UAB „Brameda“.
    <br />
    <br />
    Platiname pažangias avalynę padengiančias mašinas, firmos Swimsuit Dryers Company
    maudymosi kostiumėlių džiovintuvus, modernius pėdų dezinfekatorius.
  </p>
</Article>

<style>
  /* MEDIA QUERIES */

  /* 448px */
  @media only screen and (max-width: 28em) {
    .about-paragraph {
      padding: 0.5rem 1rem;
    }
  }
</style>
