---
import Article from "./ui/article.astro";
---

<Article appearanceMode="dark" articleId="about" title="Apie mus">
  <p class="about-paragraph">
    Platiname pažangias avalynę padengiančias mašinas, firmos Swimsuit Dryers
    Company maudymosi kostiumėlių džiovintuvus, modernius pėdų dezinfekatorius.
    <br />
    <br />
    UAB „Brameda“ savo veiklą pradėjo 1991 m. Šiuo metu atstovaujame gerai žinomus
    prekių ženklus. Platiname Anglijos gamintojo „Swimsuit Dryers Company“ maudymosi
    kostiumėlių džiovintuvus, „Quen“ pažangius avalynę padengiančius aparatus, Vokietijos
    gamintojo „Ophardt“ modernius pėdų dezinfekatorius.
  </p>
</Article>
