---
import { WEB3FORMS_PUBLIC_ACCESS_KEY } from "astro:env/server";

import { ContactFormReact } from "./react/contact-form/contact-form-react.jsx";
import BlockTitle from "./ui/block-title.astro";
import ContactDetails from "./ui/contact-details.astro";
import Container from "./ui/container.astro";
---

<address class="contacts" id="contacts">
  <Container>
    <BlockTitle appearanceMode="dark" title="Kontaktai" />
    <div class="contacts-container">
      <ContactDetails />
      <ContactFormReact
        client:idle
        web3formsPublicAccessKey={WEB3FORMS_PUBLIC_ACCESS_KEY}
      />
    </div>
  </Container>
</address>

<style>
  .contacts {
    background-color: var(--color-grey-dark2);
    color: var(--color-grey-light);
    padding-block: var(--default-spacing);
  }

  .contacts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--default-spacing) * 2);
    align-items: start;
  }

  @media only screen and (max-width: 50em) {
    .contacts-container {
      grid-template-columns: auto;
      gap: var(--default-spacing);
    }
    .contacts-container > :first-child {
      order: 2;
      text-align: center;
    }
  }
</style>
