---
import Section from "./ui/section.astro";
import ContactForm from "./contact-form.astro";
---

<Section sectionId="contacts" title="kontaktai" mode="dark">
  <article>
    <address>
      <h4>UAB „Brameda“</h4>
      <ul>
        <li>
          <p>
            <a
              href="https://maps.google.com/?q=Senamiesčio g. 102-201, 35116 Panevėžys, Lietuva"
              target="_blank"
              rel="noopener noreferrer"
              >Senamiesčio g. 102-201,<br />35116 Panevėžys,<br />Lietuva</a
            >
          </p>
        </li>
        <li>
          <p>Telefonas: <a href="tel:+37069936437">370 699 36437</a></p>
        </li>
        <li>
          <p>
            El.paštas:
            <a href="mailto:info@brameda.lt">info@brameda.lt</a>
          </p>
        </li>
      </ul>
      <!-- <h4>Direktorius Arvidas Brazdžius</h4>
      <ul>
        <li>
          <p>Telefonas: <a href="tel:+37069936437">370 699 36437</a></p>
        </li>
        <li>
          <p>
            El.paštas:
            <a href="mailto:arvidas@brameda.lt">arvidas@brameda.lt</a>
          </p>
        </li>
      </ul> -->
    </address>
    <ContactForm />
  </article>
</Section>

<style>
  article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--default-spacing);
  }

  article address h4 {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--color-grey-light2);
  }

  article address ul {
    list-style: none;
    padding: 2.5rem 0;
  }

  article address ul li {
    padding: 0.25rem;
  }

  article address ul li a:link,
  article address ul li a:visited {
    color: var(--color-grey-light2);
    text-decoration: none;
  }

  article address ul li a:hover,
  article div ul li a:active {
    text-decoration: underline;
  }

  article address ul li p {
    color: var(--color-grey-light2);
  }

  @media only screen and (max-width: 50em) {
    article {
      grid-template-columns: auto;

      /* TODO is this a hack? */
      & :first-child {
        order: 2;
      }

      & > address {
        text-align: center;
      }
    }
  }
</style>
