---
import { WEB3FORMS_PUBLIC_ACCESS_KEY } from "astro:env/server";

import { ContactForm } from "./react/contact-form/contact-form";
import ContactDetails from "./ui/contact-details.astro";
import ContentBlock from "./ui/content-block.astro";
---

<ContentBlock appearanceMode="dark" id="contacts" title="Kontaktai">
  <div class="contacts-container">
    <ContactDetails />
    <ContactForm
      client:visible
      web3formsPublicAccessKey={WEB3FORMS_PUBLIC_ACCESS_KEY}
    />
  </div>
</ContentBlock>

<style>
  .contacts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "details form"
      "details form";
  }

  @media only screen and (max-width: 50em) {
    .contacts-container {
      grid-template-areas:
        "form form"
        "details details";
      gap: var(--default-spacing);
    }
  }
</style>
