---
import Container from "./ui/container.astro";
import Branding from "./ui/branding.astro";
import Navigation from "./ui/navigation.astro";
---

<header class="header">
  <Container>
    <div class="container">
      <Branding />
      <Navigation />
    </div>
  </Container>
</header>

<style>
  .header {
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;

    box-shadow: transparent;
    transition: var(--scroll-transition);

    animation: scrolledHeader forwards;
    animation-timeline: view();
    animation-range-start: 100vh;
    animation-range-end: var(--scroll-range-end);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--max-width);
    max-width: 100%;
    padding: 0 1rem;
  }

  .header.scrolled {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
  }

  .header.scrolled h1 {
    font-size: 4.5rem;
    font-weight: 700;
  }

  .header.scrolled h1 span {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }

  @keyframes scrolledHeader {
    from {
      box-shadow: transparent;
    }
    to {
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
    }
  }
</style>

<script>
  const navBar = document.querySelector(".header");

  const scrolledFromTop = 5;

  function navOnScroll() {
    const adjustNavbar = () => {
      if (window.scrollY > scrolledFromTop) {
        navBar?.classList.add("scrolled");
      } else {
        navBar?.classList.remove("scrolled");
      }
    };

    window.addEventListener("scroll", adjustNavbar);
  }

  function init() {
    navOnScroll();
  }

  init();
</script>
