.menu-toggle {
  display: none;
  margin-inline-end: var(--scrollbar-width);
}

@media only screen and (max-width: 50em) {
  .menu-toggle {
    display: block;
    position: fixed;
    top: calc((74 / 10) * 1px);
    right: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: currentColor;
    padding: 0;
    /* z-index: 100;
    transition: transform var(--transition-duration); */

    /* animation-name: scrolledMenuButton;

    transition-duration: var(--transition-duration);
    animation-fill-mode: var(--animation-fill-mode);
    animation-timeline: var(--animation-timeline);
    animation-range-start: var(--animation-range-start);
    animation-range-end: var(--animation-range-end); */
  }

  /* .menu-toggle[aria-expanded="true"] {
      transform: rotate(90deg);
    } */
}

/* @keyframes scrolledMenuButton {
  from {
    top: calc((74 / 10) * 1px);
  }
  to {
    top: calc((65 / 10) * 1px);
  }
} */
