.spinner {
  stroke: var(--color-grey-light);
  stroke-width: 5px;
  animation: rotate 2s linear infinite;
  display: block;
}

.spinner--small {
  width: 24px;
  height: 24px;
  stroke-width: 3px;
}

.spinner--medium {
  width: 40px;
  height: 40px;
  stroke-width: 4px;
}

.spinner--large {
  width: 64px;
  height: 64px;
  stroke-width: 5px;
}

.spinner_circle {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
