---
import About from "@/components/about.astro";
import Contacts from "@/components/contacts.astro";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="lt">
  <head>
    <!-- TODO add meta info -->
    <meta charset="UTF-8" />
    <meta content="Astro description" name="description" />
    <meta content="width=device-width" name="viewport" />
    <meta content="Your site description" name="description" />
    <meta content="your, keywords" name="keywords" />
    <meta content={title} property="og:title" />
    <meta content="Your site description" property="og:description" />
    <meta content="website" property="og:type" />
    <meta content={Astro.url} property="og:url" />
    <link href="/sitemap-index.xml" rel="sitemap" />
    <link href="/favicon.ico" rel="icon" type="image/svg+xml" />
    <link href="/normalize.css" rel="stylesheet" />
    <link href="/global.css" rel="stylesheet" />
    <link href="/styles/style.css" rel="stylesheet" />
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main id="main">
      <slot />
      <About />
      <Contacts />
    </main>
    <Footer />
  </body>
</html>
