---
import Footer from "@/components/footer.astro";
import Head from "@/components/head.astro";
import Header from "@/components/header.astro";
import type { StructuredData } from "@/types";

type Props = {
  image?: string;
  title: string;
  description: string;
  robots?: string;
  structuredData: StructuredData | StructuredData[];
};

const props = Astro.props;
---

<!doctype html>
<html lang="lt">
  <Head {...props} />
  <body>
    <Header />
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
