---
import Header from "@/components/header.astro";
import Contacts from "@/components/contacts.astro";
import Footer from "@/components/footer.astro";
import About from "@/components/about.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="lt">
  <head>
    <!-- TODO add meta info -->
    <meta charset="UTF-8" />
    <meta content="Astro description" name="description" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.ico" rel="icon" type="image/svg+xml" />
    <link href="normalize.css" rel="stylesheet" />
    <link href="global.css" rel="stylesheet" />
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main id="main">
      <slot />
      <About />
    </main>
    <Contacts />
    <Footer />
  </body>
</html>
