---
type Props = {
  title?: string;
  subtitle?: string;
};

const {
  title = "Brameda",
  subtitle = "Pa탑ang큰s ergonominiai sprendimai j큰s킬 verslui",
}: Props = Astro.props;
---

<a class="branding" href="/">
  <h1>
    {title}<span>{subtitle}</span>
  </h1>
</a>

<style>
  .branding:any-link {
    text-decoration: none;
    color: #000;
  }

  .branding h1 span,
  .branding h1 {
    display: block;
    transition-duration: var(--transition-duration);
    animation-fill-mode: var(--animation-fill-mode);
    animation-timeline: var(--animation-timeline);
    animation-range-start: var(--animation-range-start);
    animation-range-end: var(--animation-range-end);
  }

  .branding h1 {
    margin: 0;
    font-size: 6.9rem;
    font-weight: 700;
    transform-origin: left center;
    animation-name: scrolledTitle;
  }

  .branding h1 span {
    margin-top: -1.3rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-grey-dark2);
    transform: translateY(0);
    opacity: 1;
    animation-name: scrolledSpan;
  }

  @keyframes scrolledTitle {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.65) translateY(-15%);
      margin-block-end: -2rem;
    }
  }

  @keyframes scrolledSpan {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
</style>
