---
import type { HTMLAttributes } from "astro/types";

type Variant = "light" | "dark";

type Props = HTMLAttributes<"button"> & {
  variant?: Variant;
};

const { variant = "light", ...rest }: Props = Astro.props;
---

<button class:list={["btn", { "btn-dark": variant === "dark" }]} {...rest}>
  <slot />
</button>
