---

---

<div>
  <h5 class="title">UAB „Brameda“</h5>
  <ul class="contacts-list">
    <li class="contacts-list-item">
      <p>
        Senamiesčio g. 102-201,<br />35116 Panevėžys,<br />Lietuva
      </p>
    </li>
    <li class="contacts-list-item">
      <p>
        <a href="tel:+37069936437">+370 699 36437</a>
      </p>
    </li>
    <li class="contacts-list-item">
      <p>
        <a href="mailto:info@brameda.lt">info@brameda.lt</a>
      </p>
    </li>
  </ul>
</div>

<style>
  .title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-block-end: 1.5rem;
  }

  .contacts-list {
    padding: 0;
  }

  .contacts-list-item:not(:last-child) {
    padding-block-end: 1.5rem;
  }

  .contacts-list-item a:any-link {
    color: var(--color-grey-light);
    text-decoration: none;
  }

  .contacts-list-item a:hover,
  .contacts-list-item a:active {
    text-decoration: underline;
  }

  .contacts-list-item p {
    color: var(--color-grey-light);
  }
</style>
