---
import NavLink from "./nav-link.astro";

type Link = {
  href: string;
  text: string;
};

type Props = {
  links: Link[];
};

const { links } = Astro.props;
---

{
  links.map(({ href, text }) => (
    <li>
      <NavLink {href} {text} />
    </li>
  ))
}
