---
import type { Link } from "@/types";

import NavLink from "./nav-link.astro";

type Props = {
  links: Link[];
};

const { links } = Astro.props;
---

{
  links.map(({ href, text }) => (
    <li>
      <NavLink {href} {text} />
    </li>
  ))
}
