---
import type { Link } from "@/types";

import MenuButton from "./menu-button.astro";
import NavLinksList from "./nav-links-list.astro";

type Props = {
  links: Link[];
};

const { links } = Astro.props;
---

<nav class="navigation">
  <!-- Desktop Menu -->
  <ul class="desktop-menu">
    <NavLinksList {links} />
  </ul>
  <!-- Mobile Menu -->
  <MenuButton />
  <div class="mobile-menu" id="mobile-menu" popover>
    <!-- <div class="nav-content"> -->
    <ul class="mobile-nav">
      <NavLinksList {links} />
    </ul>
    <!-- </div> -->
  </div>
</nav>

<style>
  .navigation {
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  .desktop-menu {
    display: flex;
    list-style: none;
    padding-block: 1rem;
    margin: 0;
  }

  [popover] {
    border: none;
    background-color: var(--color-grey-light);

    -webkit-overflow-scrolling: touch;
    transform: translateX(100%);
    transition-property: transform transition;
    transition-behavior: allow-discrete;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    width: 100%;

    &::backdrop {
    }

    &:popover-open {
      transform: translateX(0);
    }

    @starting-style {
      &:popover-open {
        transform: translateX(100%);
      }
    }

    @supports (position-anchor: --header) {
      & {
        position: absolute;
        position-anchor: --header;
        inset: anchor(bottom) 0 0 0;
        height: calc(100dvh - (var(--header-height) * 1px));
      }
    }

    @supports not (position-anchor: --header) {
      & {
        position: fixed;
        inset-inline: 0;
        inset-block-start: calc(var(--header-height) * 1px);
        height: calc(100dvh - (var(--header-height) * 1px));
      }
    }
  }

  body:has([popover]:popover-open) {
    overflow: hidden;
  }

  .nav-content {
    display: flex;
    flex-direction: column;
  }

  .mobile-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--default-spacing);
  }

  @media (max-width: 50em) {
    .desktop-menu {
      display: none;
    }
  }
</style>

<script>
  const mobileMenu = document.getElementById("mobile-menu");
  const navLinks = document.querySelectorAll(".mobile-nav a");

  function closePopover() {
    mobileMenu?.hidePopover();
  }

  navLinks.forEach((link) => {
    link.addEventListener("click", closePopover);
  });
</script>
