---
import { Fragment } from "astro/jsx-runtime";
import Container from "./container.astro";
import type { Theme } from "@/types/common";
import BlockTitle from "./block-title.astro";

type Props = {
  sectionId?: string;
  appearanceMode?: Theme;
  title?: string;
};

const { sectionId, appearanceMode = "light", title } = Astro.props;
---

<section
  class:list={[
    "section",
    {
      dark: appearanceMode !== "light",
    },
  ]}
  id={sectionId}>
  <Container>
    <BlockTitle appearanceMode={appearanceMode} title={title} />
    <slot />
  </Container>
</section>

<style>
  .section {
    padding: var(--default-spacing);
  }

  .section.dark {
    background-color: var(--color-grey-dark2);
    color: var(--color-grey-light);
  }
</style>
